@import 'normalize.css';

:root {
    --background-color: rgba(0,87,34,0.05);
    --color: rgb(51, 51, 51);
    --header-height: 58px;
    --container-width: calc(var(--breakpoint-xl) - 40px);
    --sidebar-width: 240px;
    --border: 1px solid rgb(0, 0, 0, 0.1);
    --box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1240px;
}


@media screen and (max-width: 1240px) {
    :root {
        --container-width: calc(var(--breakpoint-lg) - 40px);
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --container-width: calc(var(--breakpoint-md) - 40px);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --container-width: calc(var(--breakpoint-sm) - 40px);
    }
}

@media screen and (max-width: 480px) {
    :root {
        --container-width: 360px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a[href] {
    text-decoration: unset;
}

// 
html {
    overflow: overlay;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.15);
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

.app {
    position: relative;
}