.wrapper {
    position: relative;
    width: 320px;
    background-color: white;
    border: var(--border);
    box-shadow: var(--box-shadow);

    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        top: -.5rem;
        left: calc(160px - 2rem);
        border-bottom: .5rem solid white;
        border-left: 2rem solid transparent;
        // filter: brightness(60%);
    }

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        right: calc(160px - 2rem);
        top: -.5rem;
        border-bottom: .5rem solid white;
        border-right: 2rem solid transparent;
        // filter: brightness(60%);
    }
}

.title {
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0, 0.01);
    padding: 8px;
}

.list {
}

.action {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}