.wrapper {
    display: block;
    padding: 8px;
    border: unset;
    color: white;
    background-color: orangered;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

// size--
.sm {
    padding: 4px 8px;
}

.md {
    padding: 8px 16px;
}

.lg {
    padding: 16px 32px;
}
// --size
