.wrapper {
    display: flex;
}

// account action
.account {
    display: flex;

    &.sign-in {
        cursor: pointer;
        background-image: linear-gradient(to right bottom, red 45%, black);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.no-sign-in {

    }
}

.action {
    display: flex;
    align-self: center;
    color: white;
    height: fit-content;
    padding: 4px;

    &:hover {
        color: purple;
    }

    & + .action {
        margin-left: 8px;
    }
}

.image {
    background-image: linear-gradient(to right bottom, transparent, rgba(0, 0, 0, 0.1));
    border-radius: 50%;
    height: var(--header-height);
    width: var(--header-width);
    object-fit: cover;
    padding: 4px;
    cursor: pointer;
}

.name {
    text-transform: uppercase;
}

.nickname {
    font-style: italic;
}

.left {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// cart action
.cart {
    position: relative;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;

    & span {
        font-size: 0.75rem;
    }

    & .quantity {
        position: absolute;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px;
        top: 4px;
        right: -4px;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 480px) {

}