.wrapper {
    position: absolute;
    top: 16px;
    left: -8px;
    background-color: rgb(255, 255, 0);
    padding: 0 4px;
    display: flex;
    flex-direction: column-reverse;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -.25rem;
        border-top: .25rem solid rgb(255, 255, 0);
        border-left: .5rem solid transparent;
        filter: brightness(60%);
    }

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: -.5rem;
        border-bottom: .575rem solid rgb(255, 255, 0);
        border-right: .5rem solid transparent;
        // filter: brightness(60%);
    }

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: -.5rem;
        border-top: .575rem solid rgb(255, 255, 0);
        border-right: .5rem solid transparent;
        // filter: brightness(60%);
    }
}

.title {
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.75);
    font-size: 0.75rem;
    display: none;
}

.value {
    color: red;
}