.wrapper {
    width: var(--container-width);
    padding: 16px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.title {
    text-transform: uppercase;
    padding-bottom: 16px;
    font-size: 1.5rem;
    color: orangered;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 4px;
        margin-top: 8px;
    }
}