.wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to right top, transparent, rgb(0, 0, 0, 0.1));
        & .name {
            background-image: linear-gradient(to right bottom, black, red);
            background-clip: text;
        }   
    }

    &.active {
        position: relative;
        width: calc(100% + 16px);
        margin-left: -8px;
        padding-left: 16px;
        background-color: rgb(255, 165, 0);

        & .name {
            color: white;
        }

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            bottom: -.5rem;
            border-top: .5rem solid rgb(255, 165, 0);
            border-left: .5rem solid transparent;
            filter: brightness(60%);
        }

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            right: 0;
            bottom: -.5rem;
            border-top: .5rem solid rgb(255, 165, 0);
            border-right: .5rem solid transparent;
            filter: brightness(60%);
        }
    }
}

.image {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    margin-left: 8px;
    flex: 1;
    color: var(--color);
}