.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 8px 0;

    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        top: calc(-.5rem + 1px);
        left: 2rem;
        border-bottom: .5rem solid white;
        border-right: 1rem solid transparent;
        // filter: brightness(60%);
    }

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        top: calc(-.5rem + 1px);
        left: 1rem;
        border-bottom: .5rem solid white;
        border-left: 1rem solid transparent;
        // filter: brightness(60%);
    }
}

.item {
    color: rgb(0, 0, 0, 0.75);
    padding: 4px 8px;

    &:hover {
        color: red;
        background-color: rgb(0, 0, 0, 0.05);
    }
}