.wrapper {
    --transition: all .2s ease-in-out;
    --margin-bottom: 8px;
    display: block;
    position: relative;
    padding: 8px;
    padding-bottom: 16px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 0, 0.5), white);
    box-shadow: var(--box-shadow);
    transition: var(--transition);

    &:hover {
        transform: translateY(-4px);
        transition: var(--transition);
        

        & .name-short {
            color: purple;
        }
    }
}

.item-image {
    width: 100%;
    height: calc(var(--header-height) * 3);
    overflow: hidden;
    margin-bottom: var(--margin-bottom);
    & .image {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
}



.name {
    color: rgb(0, 0, 0.5);
    background-color: white;
    padding: 4px;
    font-weight: lighter;
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -.5rem;
        border-top: .5rem solid rgb(0, 0, 0, 0.75);
        border-left: .5rem solid transparent;
        filter: brightness(60%);

        display: none;
    }    

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: -.5rem;
        border-top: .5rem solid rgb(0, 0, 0, 0.75);
        border-right: .5rem solid transparent;
        filter: brightness(60%);

        display: none;
    }    

    &-short {
        font-weight: lighter;
        color: var(--color);
        width: 100%;
        height: 37px;
        // line-height: 1;
        margin-bottom: var(--margin-bottom);

        // hidden text line
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.price {
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-bottom);
    color: red;
    font-weight: bold;
    font-size: 1.125rem;
}

.action {
    & .add-cart {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {

}