.wrapper {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right, #ff9966, #ff5e62);
}

.container {
    width: 360px !important;
}