// navbar
.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color);
    margin-left: 16px;

    &.active {
        border-bottom: 1px solid;
        color: white;
    }
}

.icon {
    margin-right: 4px;
    color: none;
    display: none;
}