.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    &:hover {
        background-color: rgb(0, 0, 0, 0.05);
    }
}

.image {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.name {
    margin-left: 4px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color);
}

.quantity {
    margin-left: 4px;
    font-size: 1.25rem;
    color: purple;
}

.price {
    margin-left: 4px;
    font-size: 1.25rem;
    color: red;
}