.container {
    flex-direction: row;
    margin-top: 16px;
}

.category-sidebar {
    width: var(--sidebar-width);
    background-image: linear-gradient(to left bottom, rgb(255, 0, 0, 0.1), transparent);
    box-shadow: var(--box-shadow);
    padding-bottom: 32px;
}

.product-list {
    width: calc(var(--container-width) - var(--sidebar-width) - 16px * 3);
}