.wrapper {
    position: fixed;
    z-index: 10;
    inset: 0;
    height: var(--header-height);
    background-image: linear-gradient(to right bottom, #ff9966, #ff5e62);
    display: flex;
    justify-content: center;
}

.container-header {
    width: var(--container-width);
    padding: unset;
    margin-top: unset;
    background-color: unset;
    border: unset;
    display: flex;
    justify-content: space-between;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1024px) {
    .menu-icon {
        display: flex;
        color: white;
        justify-content: center;
        align-self: center;
        cursor: pointer;
    }

    .headerbar {
        display: none;
    }

    .sidebar {
        position: fixed;
        inset: 0;
        top: var(--header-height);
        height: unset;
        display: flex;
        flex-direction: column;
        z-index: 11;
        background-image: linear-gradient(to top right, #ff9966, #ff5e62);
        
        & a {
            width: 100%;
        }
    }
}

