.slick-slide {
    & > div {
        margin: 8px;
        padding-bottom: 8px;
    }
}

.slick-slide {
}

/* the parent */
.slick-list {
    padding-right: -16px;
}

.slick-slider {
}

.slick-arrow {
    --size: 32px;
    &.slick-next, &.slick-prev {
        z-index: 9;
        width: var(--size);
        height: var(--size);
        transform: translateY(50%);

        &::before {
            display: block;
            color: rgb(0, 0, 0, 0.125);
            font-size: var(--size);
        }
    }

    &.slick-prev {
        transform: translate(-25%, -50%);
    }

    &.slick-next {
        transform: translate(25%, -50%);
    }
}

@media screen and (max-width: 480px) {
    .slick-slide {
        & > div {
            margin: 4px;
            padding-bottom: unset;
        }
    }
}